.container {
    display: grid;
    grid-template-columns: 350px repeat(2, minmax(300px, max-content)) 350px;
    grid-template-rows: auto;
    grid-gap: 4px;
    margin: 10px;
}

.grid {
    padding: 5px;
    font-size: 105%;
    color: #fff;
    border-radius: 5px;
}

.timesgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, [col] 1fr);
    padding: 20px;
}

.end {
    justify-self: end;
}

.center {
    justify-self: center;
}

.one {
    grid-column: 1 / span 1;
    grid-row: row 1;
}

.two {
    grid-column: 2 / span 2;
    grid-row: row 1;
}

.three {
    grid-column: 4 / span 1;
    grid-row: row 1;
}

.four {
    grid-column: 1 / span 1;
    grid-row: row 2;
}

.five {
    grid-column: 2 / span 2;
    grid-row: row 2;
    overflow-x: scroll;
}

.six {
    align-items: center;
    justify-content: center;
}

.seven {
    grid-column: 4 / span 1;
    grid-row: row 2;
}

.eight {
    grid-column: 1 / span 1;
    grid-row: row 3;
}

.nine {
    grid-column: 2 / span 2;
    grid-row: row 3;
}

.ten {
    grid-column: 4 / span 1;
    grid-row: row 3;
}

.eleven {
    grid-column: 1 / span 1;
    grid-row: row 4 / span 1;
}

.twelve {
    grid-column: 2 / span 2;
    grid-row: row 4 / span 1;
    /* change span row to 3 to add times back */
    overflow-x: scroll;
}

.thirteen {
    grid-column: 4 / span 1;
    grid-row: row 4 / span 1;
}

.fourteen {
    grid-column: 1 / span 1;
    grid-row: row 5 / span 1;
}

.fifteen {
    grid-column: 2 / span 2;
    grid-row: row 5 / span 1;
    overflow-x: scroll;
}

.sixteen {
    grid-column: 4 / span 1;
    grid-row: row 5 / span 1;
}

.seventeen {
    grid-column: 1 / span 1;
    grid-row: row 6 / span 1;
}

.nineteen {
    grid-column: 4 / span 1;
    grid-row: row 6 / span 1;
    align-self: center;
}

.twenty {
    grid-column: 1 / span 1;
    grid-row: row 7  / span 1;
    align-self: center;
}

.twentytwo {
    grid-column: 4 / span 1;
    grid-row: row 7 / span 1;
    align-self: center;
}

.twentythree {
    grid-column: 1 / span 1;
    grid-row: row 8 / span 1;
}
.twentyfive {
    grid-column: 4 / span 1;
    grid-row: row 8 / span 1;
}

.boss {
    align-self: center;
    justify-content: center;
}