.Modal {
    height: 400px;
    width: 500px;
    padding: 20px;
    position: absolute;
    top: 35%;
    left: 50%;
    border-radius: 10px;
    background-color: black;
    overflow-y: scroll;
    font-family: 'Roboto Mono';
    transform: translateX(-50%);
}
.Modal::-webkit-scrollbar {
    display: none;
}

.playbutton{
    /* CSS for buttons in play menu 
    lines 150-157 in Play.jsx
    */
    font-size: 40px; 
    margin-top: 10px; 
    border-radius: 10px;
    padding: 10px;
}
.modalcontent{
    /* Play.jsx line 237 */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.modalbuttons{
    /* Play.jsx line 237 */
    width: 200px;
    height: 50px;
}

.materialfont {
    font-family: 'Roboto Mono';
}