.Modal {
    height: 400px;
    width: 500px;
    position: absolute;
    top: 35%;
    left: 43%;
    background-color: black;
    overflow-y: scroll;
    font-family: 'Roboto Mono';
}

.playbutton{
    /* CSS for buttons in play menu 
    lines 150-157 in Play.jsx
    */
    font-size: 40px; 
    margin-top: 10px; 
    border-radius: 10px;
    padding: 10px;
}