.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('/images/background.png') no-repeat center center / cover;
  z-index: -1;
}

.font {
  font-family: 'Roboto Mono'
}
.main-content {
  min-height: 100vh;
}