.text-color {
    color: white;
}
.font {
    font-family: 'Roboto Mono'
}
.fullscreen-container {
    width: 100vw;
    min-height: 100vh;
    background-image: url('/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}